<a href="https://colab.research.google.com/github/luciekash/Apache-Spark-Project-/blob/main/Apache_Spark_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Apache Spark DataFrames Project

**1.Problem Statement**

As a Data professional, you need to perform an analysis by answering questions about some stock market data on Safaricom from the years 2012-2017.

You will need to perform the following:

**Data Importation and Exploration**

● Start a spark session and load the stock file while inferring the data types.

● Determine the column names

● Make observations about the schema.

● Show the first 5 rows

● Use the describe method to learn about the data frame

**Data Preparation**

● Format all the data to 2 decimal places i.e. format_number()

● Create a new data frame with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day



**Data Analysis**

● What day had the Peak High in Price?

● What is the mean of the Close column?

● What is the max and min of the Volume column?

● How many days was the Close lower than 60 dollars?

● What percentage of the time was the High greater than 80 dollars?

● What is the Pearson correlation between High and Volume?

● What is the max High per year?

● What is the average Close for each Calendar Month?

## 2. Data Importation and Exploration

In [1]:
# Installing pyspark
# ---
#
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 37.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=8d1693ba28ac2d2fd75c7b59223da151418e960318a090335ca29a218a4137bd
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
# Next, we run a local spark session
# ---
#
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

import warnings
warnings.filterwarnings('ignore')

from pyspark.sql import SQLContext
sqlCtx = SQLContext(sc)

In [3]:
#read csv and display schema to determine the column names
df = spark.read.csv("saf_stock.csv", header=True)
print(df.columns)
df.printSchema()

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']
root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

Observations:

There are 7 columns

Columns are nullable

Column type is String

The first row is a header that contains the column names

In [4]:
#Show the first 5 rows

df.show(5)

+--------+---------+---------+---------+---------+--------+---------+
|    Date|     Open|     High|      Low|    Close|  Volume|Adj Close|
+--------+---------+---------+---------+---------+--------+---------+
|1/3/2012|59.970001|61.060001|59.869999|60.330002|12668800|52.619235|
|1/4/2012|60.209999|60.349998|59.470001|59.709999| 9593300|52.078475|
|1/5/2012|59.349998|59.619999|58.369999|59.419998|12768200|51.825539|
|1/6/2012|59.419998|59.450001|58.869999|       59| 8069400| 51.45922|
|1/9/2012|59.029999|59.549999|58.919998|    59.18| 6679300|51.616215|
+--------+---------+---------+---------+---------+--------+---------+
only showing top 5 rows

In [5]:
#Use the describe method to learn about the data frame
df.describe().show()

+-------+---------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|     Date|             Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+---------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|     1258|             1258|             1258|             1258|             1258|             1258|             1258|
|   mean|     null|72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|     null| 6.76809024470826|6.768186808159218|6.744075756255496| 6.75685916373299|  4519780.8431556|6.722609449996858|
|    min|1/10/2012|        56.389999|        57.060001|        56.299999|        56.419998|         10010500|        50.363689|
|    max| 9/9/2016|        90.800003|        90.970001|            89.25|        90.470001|          9994400|        84.914216|
+-------+---------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## 3.Data Preparation

In [6]:
#Format all the data to 2 decimal places

from pyspark.sql.functions import format_number

df_formatted=df.select(df['Date'],
              format_number(df['Open'].cast('float'),2).alias('Open'),
              format_number(df['High'].cast('float'), 2).alias('High'),
              format_number(df['Low'].cast('float'), 2).alias('Low'),
              format_number(df['Close'].cast('float'), 2).alias('Close'),
              df['Volume'].cast('int').alias('Volume'),
              format_number(df['Adj Close'].cast('float'), 2).alias('Adj Close')
              )


from pyspark.sql import functions as F

df_formatted.show()

+---------+-----+-----+-----+-----+--------+---------+
|     Date| Open| High|  Low|Close|  Volume|Adj Close|
+---------+-----+-----+-----+-----+--------+---------+
| 1/3/2012|59.97|61.06|59.87|60.33|12668800|    52.62|
| 1/4/2012|60.21|60.35|59.47|59.71| 9593300|    52.08|
| 1/5/2012|59.35|59.62|58.37|59.42|12768200|    51.83|
| 1/6/2012|59.42|59.45|58.87|59.00| 8069400|    51.46|
| 1/9/2012|59.03|59.55|58.92|59.18| 6679300|    51.62|
|1/10/2012|59.43|59.71|58.98|59.04| 6907300|    51.49|
|1/11/2012|59.06|59.53|59.04|59.40| 6365600|    51.81|
|1/12/2012|59.79|60.00|59.40|59.50| 7236400|    51.90|
|1/13/2012|59.18|59.61|59.01|59.54| 7729300|    51.93|
|1/17/2012|59.87|60.11|59.52|59.85| 8500000|    52.20|
|1/18/2012|59.79|60.03|59.65|60.01| 5911400|    52.34|
|1/19/2012|59.93|60.73|59.75|60.61| 9234600|    52.86|
|1/20/2012|60.75|61.25|60.67|61.01|10378800|    53.21|
|1/23/2012|60.81|60.98|60.51|60.91| 7134100|    53.13|
|1/24/2012|60.75|62.00|60.75|61.39| 7362800|    53.54|
|1/25/2012|61.18|61.61|61.04|61.47| 5915800|    53.61|
|1/26/2012|61.80|61.84|60.77|60.97| 7436200|    53.18|
|1/27/2012|60.86|61.12|60.54|60.71| 6287300|    52.95|
|1/30/2012|60.47|61.32|60.35|61.30| 7636900|    53.47|
|1/31/2012|61.53|61.57|60.58|61.36| 9761500|    53.52|
+---------+-----+-----+-----+-----+--------+---------+
only showing top 20 rows

In [7]:
# create a new data frame with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day
df_new = df_formatted.withColumn('HV Ratio', df_formatted['High']/ df_formatted['Volume'])
df_new.show()

+---------+-----+-----+-----+-----+--------+---------+--------------------+
|     Date| Open| High|  Low|Close|  Volume|Adj Close|            HV Ratio|
+---------+-----+-----+-----+-----+--------+---------+--------------------+
| 1/3/2012|59.97|61.06|59.87|60.33|12668800|    52.62|4.819714574387472E-6|
| 1/4/2012|60.21|60.35|59.47|59.71| 9593300|    52.08|6.290848821573389...|
| 1/5/2012|59.35|59.62|58.37|59.42|12768200|    51.83|4.669413073103491E-6|
| 1/6/2012|59.42|59.45|58.87|59.00| 8069400|    51.46|7.367338339901356E-6|
| 1/9/2012|59.03|59.55|58.92|59.18| 6679300|    51.62|8.915604928660188E-6|
|1/10/2012|59.43|59.71|58.98|59.04| 6907300|    51.49|8.644477581688938E-6|
|1/11/2012|59.06|59.53|59.04|59.40| 6365600|    51.81| 9.35182857861003E-6|
|1/12/2012|59.79|60.00|59.40|59.50| 7236400|    51.90| 8.29141562102703E-6|
|1/13/2012|59.18|59.61|59.01|59.54| 7729300|    51.93|7.712211972623653E-6|
|1/17/2012|59.87|60.11|59.52|59.85| 8500000|    52.20|7.071764705882352...|
|1/18/2012|59.79|60.03|59.65|60.01| 5911400|    52.34|1.015495483303447...|
|1/19/2012|59.93|60.73|59.75|60.61| 9234600|    52.86|6.576354146362592...|
|1/20/2012|60.75|61.25|60.67|61.01|10378800|    53.21| 5.90145296180676E-6|
|1/23/2012|60.81|60.98|60.51|60.91| 7134100|    53.13|8.547679455011844E-6|
|1/24/2012|60.75|62.00|60.75|61.39| 7362800|    53.54|8.420709512685392E-6|
|1/25/2012|61.18|61.61|61.04|61.47| 5915800|    53.61|1.041448324825044...|
|1/26/2012|61.80|61.84|60.77|60.97| 7436200|    53.18|8.316075414862431E-6|
|1/27/2012|60.86|61.12|60.54|60.71| 6287300|    52.95|9.721183974042911E-6|
|1/30/2012|60.47|61.32|60.35|61.30| 7636900|    53.47|8.029436027707578E-6|
|1/31/2012|61.53|61.57|60.58|61.36| 9761500|    53.52|6.307432259386365E-6|
+---------+-----+-----+-----+-----+--------+---------+--------------------+
only showing top 20 rows

## 3.Data Analysis

In [8]:
#What day had the Peak High in Price?
print(df_new.orderBy(df_new['High'].desc()).head(1)[0][0])

1/13/2015

In [9]:
#What is the mean of the Close column?
from pyspark.sql.functions import mean, max, min

print(df_new.select(mean('Close')).show())

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844992050863|
+-----------------+

None

In [10]:
#What is the max and min of the Volume column?
print(df_new.select(max('Volume') ,min('Volume')).show())

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

None

In [11]:
#How many days was the Close lower than 60 dollars?
print(df_new.filter(df_new['Close'] < 60).count())

81

In [12]:
#What percentage of the time was the High greater than 80 dollars

print((df_new.filter(df_new['High']>80).count()/df.count()) * 100)

8.426073131955485

In [13]:
#What is the Pearson correlation between High and Volume?
from pyspark.sql.functions import corr
print(df_new.select(corr('High','Volume')).show())

+--------------------+
|  corr(High, Volume)|
+--------------------+
|-0.33843260582148915|
+--------------------+

None

In [15]:
# What is the max High per year?

from pyspark.sql.functions import year

df_new_2=df_new.select(df_new['Date'],
              df_new['High'].cast('float').alias('High'),
              df_new['Close'].cast('float').alias('Close')
              )

df_year = df_new_2.withColumn("Year",year(df_new_2['Date']))
maxim= df_year.groupBy('Year').max()
print(maxim.select('Year','max(High)').orderBy('Year').show())

+----+---------+
|Year|max(High)|
+----+---------+
|null|    90.97|
+----+---------+

None

In [16]:
from pyspark.sql.functions import month

df_month = df_new_2.withColumn('Month',month('Date'))
avg_month = df_month.select(['Month','Close']).groupBy('Month').mean()
print(avg_month.select('Month','avg(Close)').orderBy('Month').show())

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
| null|72.38844997363553|
+-----+-----------------+

None